body{
    background-image: url(imgs/bg.jpg);
}

h1{
    background-color: royalblue;
}

.hyper{
    display : flexbox;
    justify-content: space-between;
 
}

p{
    font-style: italic;
}


 
